
/* Header */

.title-header {
  text-align: center;
  padding: 15px 0px;
}

.title-byline {
text-align: center;
padding: 10px 0px;
}


/* Home Page */

.category_list {
margin-top: 25px;
}

.category_box {
  padding: 10px;
}

.cat-header {
text-align: center;
}

.cat-image {

}
