.body {

}

.container {
  display: flex;
  width: 80%;
}

.title-header {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.nav {
  width: 20%;
  text-align: center;
}

.nav h2 {
}

.nav ul li {
  list-style: none;
}

.list {
  width: 80%;
  text-align: center;
}

.list ul li {
  list-style: none;
}
